<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>

<form action="#" th:action="@{/addTask}" method="post">
    <input type="text" name="task" placeholder="Enter task" required>

    <select name="person">
        <div th:each="person : ${personList}">
            <option th:value="${person.name}" th:text="${person.name}"></option>
        </div>

    </select>
    <button type="submit">Add Task</button>
</form>

<!--<form action="#" th:action="@{/printTask}" method="post">-->
<!--    <button type="submit">Print Task</button>-->
<!--</form>-->

<ul>
    <li th:each="task : ${taskList}">
        <span th:text="${task.name}"></span>
        <br>
        <span th:text="${task.date}"></span>
        <br>
        <span th:text="${task.owner.name}"></span>
        <br>
        <span th:text="${task.owner.role}"></span>
        <hr>
    </li>
</ul>

</body>
</html>
